{% extends "base.html" %}
{% block body %}
  <div id="hbd" class="center-vertical">
    <h1>Happy 15th Birthday, Celeste!</h1>
    <button id="letter-button" class="text-button">Click Me 
      <span class="glyphicon glyphicon-menu-right"></span>
    </button></br>
    <button id="repeat-balloons" class="symbol-button">
      &#x21BB;
    </button>
  </div>
  <div id="letter" class="container center-vertical">
    <div id="letter-controls">
      <!-- <a id="repeat-balloons">&#x21BB;</span></a> -->
      <a id="close-letter">&times;</span></a>
    </div>

    <p>
      Happy Birthday Celeste!
    </p>

    <p>
      Sorry I couldn't be home earlier today, but I hope 
      you have a great day! Miss you, and see you tonight!
    </p>

    <p>
      Love,</br>Oliver
    </p>

  </div>
{% endblock %}
