{% extends "base.html" %}
{% block body %}
  <div id="hbd" class="center-vertical">
    <h1>Happy Birthday, Celeste!</h1>
    <button id="letter-button" class="button">Click Me 
      <span class="glyphicon glyphicon-menu-right"></span>
    </button>
  </div>
  <div id="letter" class="container center-vertical">
    {# TODO: maybe have a button here for reloading page/closing letter #}
    <p>
      Happy Birthday Celeste!
    </p>

    <p>
      Sorry I couldn't be home earlier, but I hope you have a great day!
      See you tonight!
    </p>

    <p>
      Love,</br>Oliver
    </p>

  </div>
{% endblock %}
